*{
    margin-top: 0;
    padding: 0;
}
.gelary{
    max-width: 405px;
    height: 505px;
    border: black solid 10px;
    margin:10px auto;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0,0.9);
    transition: .3s;
    
}
.cal-name {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0px;
    width: fit-content;
}
.display {
    margin-top: 10px;
}
.display #result{
    width: 400px;
    height: 90px;
    font-size:60px ;
    text-align: right;
    font-weight: bold;
    padding: 0px 1px 0px 0px;
    border: black solid 3px;
    letter-spacing: 5px;
}
.gelary:hover{
    box-shadow: 15px 15px 15px 15px rgb(0, 0, 0,0.9);
}
.btn{
    width:101.25px;
    height: 70px;
    font-size: 30px;
    color: white;
    background-color: black;
    
}
.all-btn{
    font-size: 0;
    margin-top: 5px;
}
.btn:hover{
    background-color: rgb(47, 47, 49);
}